.header-image{
    height: 83vh;
    width: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.70), 
        rgba(0, 0, 0, 0.70)),
      /* bottom, image */
       url("../header/Assets/headerimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}




