
.navbar{
    display: flex;
    background-color: rgba(5, 5, 5, 0.9);
    color: white;
    font-size: 2rem;
    justify-content: space-between;
    /* padding-top: 1rem; */
    letter-spacing: 2px;
    font-weight: lighter;

    
 

}

.navbar-list{
    display: flex;
    list-style: none;
    font-size: 1.2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 7rem;
    flex-wrap: wrap;
    animation: 0.3s linear slideIntop;



}
.logo{
    margin-left: 7rem ;
    color: rgb(52, 235, 192);
    animation: 0.3s ease-in slideIntop;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.navbar-list-item{
    margin-right: 4rem;
}

a{
    text-decoration: none;
    color: white;
    
}

@media (max-width: 1152px){
  .navbar-list{
      display: none;
  }

  .logo{
      margin-left: 9rem;
  }
}

@keyframes slideIntop {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }




