.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8%;
    padding: 105px;
    background: rgba(12, 10, 10, 0.8);
    margin-left: 70%;
    position: absolute;
    z-index: 1;
   
}

.container-list{
     flex-direction: column;    
     font-size: 1rem;
     text-transform:uppercase;
     letter-spacing: 2px;
     position: absolute; 
   
} 

.popup-list__item{
    margin-bottom: 10px;
    border-bottom:1px solid white;
    text-decoration: none;
    list-style: none;
    text-align: center;
    
}
.list__a{

    text-decoration: none;
    
}



